{% extends 'layout1.html' %}

{% block content %}
     <br><br/>
     <br><br/>
     <br><br/>
     <br><br/>
     <br><br/>

     <form id="frm" name="frm" method="post" action="">
      <table width="31%" border="1" style="margin: 0 auto;">
        <tr>
          <td width="50%">Busqueda de Registro </td>
          <td width="50%"><label>
            
            <select name="select" size="1" width="4%" style="width:148px">
            {% for x in contacts %}
            <option value="{{ x[0] }}"{% if loop.first %} SELECTED{% endif %}>{{ x[0] }}</option>
            {% endfor %} 
            <!--<option value="----" selected="selected">Seleccionar Contacto</option>
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="-">Other</option> -->
            </select>  
          </label></td>
        </tr>
    

        <tr>
          <td>Nombre Completo</td>
          <td><input type="text" name="nombre" placeholder="Nombre Completo" value ="{{ var2[0]  }}"
          		   minlength="5" maxlength="40" required 
		             title="Tamaño mínimo: 5. Tamaño máximo: 40" />
          </td>
        </tr>
        <tr>
          <td>E-mail</td>
          <td><input type="text" name="email" placeholder="email"  value ="{{ var2[1]  }}"    
		            minlength="5" maxlength="40" required 
		            title="Tamaño mínimo: 5. Tamaño máximo: 15" />
          </td>
        </tr>
      </table>
    
      <table width="31%" border="1" style="margin: 0 auto;">
        <tr>
          <td><input name="Input" type="submit" value="Buscar Contacto" style="width:300px" value="modificar_mod" onclick="f_Cmb();"/></td>      
        </tr>

        <tr>
          <td><input name="Input" type="submit" value="Actualizar Contacto" style="width:300px" value="actualizar_cont" onclick="f_Cmb1();"/></td>      
        </tr>
      </table>
  </form>
      <!--  <table width="31%" border="1" style="margin: 0 auto;">
        <tr>
          <td><input name="Input" type="submit" value="Actualizar Contacto" style="width:300px"/></td>
        </tr>
      </table>
        <!--</tr>
      </table>
  </form> -->
    <p>&nbsp;</p>

<script>
function f_Cmb(){		
		document.frm.action="/modificar_mod";
		document.frm.submit();
}

function f_Cmb1(){		
		document.frm.action="/actualizar_cont";
		document.submit();
}
</script>

{% endblock %}
